html{
  background-color: black;
}

a {
  color:aquamarine
}

.top_title{
display: flex;
font-family: Verdana;
font-size: 50px;
color: white;
justify-content: center;
}

.excursion_hyper_link{
display: flex;
justify-content: center;
font-family: Verdana;
font-size: 16px;
}
